@import "tailwindcss";

:root {
  width: 100vw;
  height: 100vh;
}

* {
  padding: 0;
  margin: 0;
}

@theme {

  --animate-slide-in-right: slide-in-right 3s ease-out both;
  --animate-slide-in-right-2: slide-in-right 3s ease-out .2s both;
  --animate-slide-in-right-3: slide-in-right 3s ease-out .4s both;
  --animate-slide-in-right-4: slide-in-right 3s ease-out .6s both;
  --animate-slide-in-right-5: slide-in-right 3s ease-out .8s both;
  --animate-slide-in-right-6: slide-in-right 3s ease-out 1s both;
  --animate-slide-in-right-7: slide-in-right 3s ease-out 1.2s both;
  --animate-slide-in-right-8: slide-in-right 3s ease-out 1.4s both;

  @keyframes slide-in-right {
    0% { transform: translate(100vw, 50vh) scale(0.1); }
    30% { transform: translate(10vw, 0) scale(1); }
    60% { transform: translate(0, 0) scale(1); }
    62% { transform: translate(-1vw, 1vh) scale(1); }
    64% { transform: translate(-3vw, 3vh) scale(1.2); }
    66% { transform: translate(-6vw, 6vh) scale(1.4); }
    68% { transform: translate(-6vw, 9vh) scale(1.6); }
    70% { transform: translate(-3vw, 12vh) scale(1.8); }
    72% { transform: translate(-1vw, 15vh) scale(2); }
    74% { transform: translate(2vw, 17vh) scale(2.2); }
    76% { transform: translate(4vw, 20vh) scale(2.4); }
    78% { transform: translate(6vw, 25vh) scale(2.6); }
    80% { transform: translate(10vw, 34vh) scale(2.8); }
    100% { transform: translate(100vw, 50vh) scale(10); }
  }

  --animate-slide-down: slide-down 1s ease-out both;

  @keyframes slide-down {
    0% { transform: translateY(-100vh) }
    100% { transform: translateY(0) }
  }
}
